.App {
  text-align: center;
  font-family: "IranSans" !important;
}
.root {
  background-color: #fffffff2 !important;
}
@font-face {
  font-family: IranSans;
  src: url(./fonts/AIranianSans.woff);
  font-weight: bold;
}
span {
  font-family: IranSans,cursive !important;
}
.containerDate {
  display: 'flex';
}
.MuiInputLabel-animated {
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  font-family: 'IranSans' !important;
}
.textField {
  margin-left: "theme.spacing(1)";
  margin-right: "theme.spacing(1)";
  width: 200;
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-radius: 0px;
}
.form-group {
  margin-bottom: 1rem;
  font-family: 'IranSans' !important;
}
.form-control {
  display: block;
  text-align: center;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1.2rem !important;
  font-weight: 400;
  line-height: 1.5;
  font-family: monospace,"IranSans" !important;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0px !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0rem !important;
}
.MuiStepConnector-root {
  flex: 0 !important;
}
.MuiStepper-horizontal {
  align-items: center;
  flex-direction: row;
  direction: rtl;
}
.MuiStepper-root {
  display: flex;
  padding: 12px !important;
}
.MuiStepLabel-label.MuiStepLabel-active {
  color: rgb(51 255 0 / 87%) !important;
  font-weight: 500;
}
.MuiStepIcon-root {
  color: rgb(255 255 255) !important;
  display: block;
}
.MuiStepLabel-label {
  color: rgb(255 255 255) !important;
  padding: 2px;
}
.alert-success {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color: #c3e6cb !important;
  border-radius: 25px !important;
  border: 2px dashed green !important;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.MuiListItem-root {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-end !important;
  text-decoration: none;
}
a {
  color: #FFF !important;
  text-decoration: none;
  font-family: IranSans !important;
  background-color: transparent;
}
.MuiDrawer-paperAnchorDockedRight {
  border-left: 1px solid rgb(0 0 0) !important;
}
h4{
  font-family: IranSans !important;
}
.makeStyles-root-15 {
  width: 100%;
  max-width: 360px;
  background-color: #000 !important;
  color: white;
}
.makeStyles-drawerPaper-7 {
    color: white;
    width: 200px;
    background-color: #000 !important;
}
.MuiTab-textColorInherit {
  color: inherit;
  opacity: 0.7;
  font-family: monospace !important;
}
.MuiInputBase-input {
  font: inherit;
  color: #FFF !important;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}
.MuiInput-underline:before {
  left: 0;
  right: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgb(255 255 255 / 42%) !important;
  pointer-events: none;
}
.MuiInput-underline:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid #28a745 !important;
  pointer-events: none;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.MuiFormLabel-root {
  color: #fff !important;
  padding: 0;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em;
}
.btn-gorges {
    color: #fff !important;
    background-color: #8dbf42;
    border-color: #8dbf42;
    box-shadow: 0 10px 20px -10px rgb(141 191 66 / 59%);
}
.MuiStepIcon-text {
  fill: #000 !important;
  font-size: 0.75rem !important;
  font-family: IranSans;
}
.MuiPaper-root {
  color: black !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgb(0, 0, 0) !important;
}
.Home-icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size:  50px!important;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.MuiIconButton-label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
  color: white !important;
}
.MuiCardContent-root:last-child {
  padding-bottom: 24px;
  font-family: IranSans !important;
}
.makeStyles-root-1 {
  width: 100%;
  margin-top: 0% !important;
  padding: 0px;
  background: #FFF !important;
}
.makeStyles-content-9 {
  padding: 0px !important;
  flex-grow: 1;
  transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  margin-right: -110px;
}
.PaymentSuccess {
  background-color: #04bf24 !important;
  color: white;
  font-size: 18px;
  border-radius: 15px 0px;
  padding: 5px;
  overflow: auto;
}
.bg-light {
  background-color: #f8f9fa!important;
  overflow: auto;
}
.PaymentError {
  background-color: #ff1313 !important;
  color: white;
  font-size: 18px;
  border-radius: 15px 0px;
  padding: 5px;
  overflow: auto;
}
.SYSTEMError {
  background-color: #ffffff !important;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 15px 0px;
  padding: 5px;
  overflow: auto;
}
p{
  font-family: IranSans,cursive !important;
}
.PENDING {
  background-color: #ddeb24 !important;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 15px 0px;
  padding: 5px;
  overflow: auto;
}
.MuiStepLabel-label.MuiStepLabel-alternativeLabel {
  margin-top: 16px;
  text-align: center;
  font-size: 16px;
  font-family: 'IranSans' !important;
}
.MuiTypography-body2 {
  font-size: 0.8rem;
  font-family: 'IranSans' !important;
  font-weight: 800;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}
.MuiStepConnector-alternativeLabel {
  top: 12px;
  right: calc(-50% + 20px) !important;
  left: calc(50% + 20px) !important;
  position: absolute;
}
c{
  direction: rtl !important;
}
.MuiStepper-alternativeLabel {
  align-items: flex-start;
  direction: rtl;
}
Button {
  font-family: IranSans !important;
}
.cursive{
  font-family:cursive !important;
}
.MuiStepIcon-root.MuiStepIcon-active {
  color: #22a912 !important;
}
.MuiInputBase-input {
  font: inherit;
  color: currentColor;
  width: 90% !important;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}
.MuiPaper-outlined {
  border: 0px solid rgba(0, 0, 0, 0.12) !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
